ul.product-info {
    list-style: none;
    padding: 0;
    margin: 0;
  
    li { 
        margin-bottom: 7px;
        padding-left: 16px;

        &:before {
            content: "•"; /* Insert content that looks like bullets */
            padding-right: 8px;
            color: #aaa; /* Or a color you prefer */
        }
    }
}
