$color-primary: #3fd170;
$color-complementary: #dd4001; //#ff694d;
$color-secondary-1: #a840c5;
$color-secondary-2: #ffcb4d;
$color-gray-dark: #404841;
$color-gray-light: #f9fbfa;

// bootstrap overrides
$primary: $color-complementary;
$secondary: $color-gray-dark;
$light: $color-gray-light;
$dark: $color-gray-dark;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'light': $light,
  'dark': $dark
);
