.homepage-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    height: auto;
    padding: 40px;
    color: white;

    .App-title {
        font-size: 2.5em;
      }
}